<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661554472447-5nas375bd0c3hj5imeob83ocm2sn7it8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661554472447-5nas375bd0c3hj5imeob83ocm2sn7it8</string>
	<key>API_KEY</key>
	<string>AIzaSyCsjhTixMDCDJ-soVvq7LMWzPO4875diy4</string>
	<key>GCM_SENDER_ID</key>
	<string>661554472447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuriiukrainets.randommelody.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>randommelody-e5396</string>
	<key>STORAGE_BUCKET</key>
	<string>randommelody-e5396.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661554472447:ios:c44c6cef36d5ac35fcb3ca</string>
</dict>
</plist>